// Here we have our Variables:

// Backgrounds Colors:
$body-bg: hsl(210, 46%, 95%);
$violet: hsl(263, 55%, 52%);
$gray: hsl(217, 19%, 35%);
$navy-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Text Variables
$gray-text: hsl(217, 19%, 35%);
$white-text: hsl(210, 46%, 95%);
$gray-name: hsl(0, 0%, 81%);
$gray-person-status: hsla(217, 19%, 35%, 50%);
$white-person-status: hsla(210, 46%, 95%, 50%);
$gray-paragraph: hsla(217, 19%, 35%, 70%);
$white-paragraph: hsla(210, 46%, 95%, 70%);
$font-family: "Barlow Semi Condensed";
$font-size-body: 0.8125rem;
$font-size-title: 1.25rem;
$font-size-status: 0.675rem;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Card Variables:
$card-padding: 32px;
$card-border-radius: 10px;
$img-HW: 30px;
$img-margin-right: 15px;
